.contacts {
	font-family: "Open Sans", Verdana, Helvetica;
	font-size: 22px;
	color: #786330;
	margin-left: 60px;
	margin-top: 10%
}
.contacts>div {
	width: 100%;
	display: inline-block;
	padding-bottom: 10px;

}
h2>span {
	font-family: "Rosa Marena", Verdana, Helvetica;
}
.contacts img {
	width: 30px;
	height: 30px;
}
.contact-item {
	display: inline;
	margin-right: 10px;
	text-decoration: none;
	color: #786330;
}